<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body ng-app="cartApp">
	<div class="container" ng-controller="cartController">
		<table class="table" ng-show="cart.length != 0">
			<thead>
				<tr>
					<th>产品编号</th>
					<th>产品名字</th>
					<th>购买数量</th>
					<th>产品单价</th>
					<th>产品总价</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cart">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>
						<button type="button" ng-click="reduce(item.id)" class="btn btn-primary">-</button>
						<input type="text" ng-model="item.quantity">
						<button type="button" ng-click="add(item.id)" class="btn btn-primary">+</button>
					</td>
					<td>{{item.price}}</td>
					<td>{{item.price * item.quantity}}</td>
					<td>
						<button type="button" ng-click="remove(item.id)" class="btn btn-danger">移除</button>
					</td>
				</tr>
				<tr>
					<td>
						总购买价
					</td>
					<td>{{totalPrice()}}</td>
					<td>总购买数量</td>
					<td>{{totalQuantity()}}</td>
					<td colspan="2">
						<button type="button" ng-click="cart = []" class="btn btn-danger">
							清空购物车
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<p ng-show="!cart.length">您的购物车为空！</p>
	</div>
	<script type="text/javascript" src="../../vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="app/index.js"></script>
</body>
</html>