<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div ng-app="myApp">
		<div ng-controller="firstController">
			<p>{{1+1}}</p>
			<p ng-bind="1+1"></p>
			<p ng-bind-template="{{1+1}}"></p>
			<ul ng-init="cityArr = ['上海','北京','杭州']">
				<li ng-repeat="city in cityArr">
					<span>index:{{$index}}</span>
					<span>first:{{$first}}</span>
					<span>middle:{{$middle}}</span>
					<span>last:{{$last}}</span>
					<span>{{city}}</span>
				</li>
			</ul>
			<!-- <div ng-include="'other.html'"></div>
			<div ng-include src="'other.html'"></div> -->
			<button ng-click="changeStatus($event)">切换状态</button>
			<p>{{status}}</p>
		</div>
	</div>
	<script type="text/javascript" src="../../vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="app/index.js"></script>
</body>
</html>